.contenedor{
    width: 100%;
    box-sizing: border-box;
}
$header-breakpoints:(
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

#title-note{
    margin-left: 20%;
}


.div-note{
    width: 50%;
    margin-left: 15%;
    margin-top: 7%;
    border: solid 2px rgb(230, 230, 230);
    border-radius: 6px;
    padding: 20px;
}

.inputText-1{
    height: 15px;
}

#card-note{
    width: 70%;
    margin-left:2% ;
    margin-top: 2%;
    margin-bottom: 2%;    
}
card-transition{
    transition-delay: 3s;
}

button{
    background: none;
    border: none;
}
.buttons{
    background: none;
    background-color: var(--body-font);
    border: none;
    font-size: 2em;
}

.buttons:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 2px 2px 2px #000;
    transition: 0.3s;
    border-radius: 4px;
}

.btn-green{
    background-color:#a5d6a7 ;
    color: white;
    border: none;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.btn-green:hover{

    background-color:#75a478;
    color: white;
    transition: 0.3s;
}
.btn-red{
    background-color:#ef5350 ;
    color: white;
    border: none;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.btn-red:hover{ 
    background-color:#b61827;
    color: white;
    transition: 0.3s;
}

.buttonsNote{
    margin-top: 20px;
}
.buttons-newNote{
    margin-left: 85%;
}

.btn-delete{
    margin-top: 2%;
}


/* dark mode button */

#dark-mode-btn{
    background: none;
    border: none;
    top: 2.5%;
    
}

//tooltip


  
  /* Tooltip text */
#tooltip-text {
    visibility: hidden;
    width: 10px;
    background-color: black;
    color: #fff;
    font-size: 0.7em;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
  
  #dark-mode-btn:hover #tooltip-text {
    visibility: visible;
    width: 100px;
    top: 100%;
    margin-left: -50px;
  } 

/* dark mode body */
body.darkMode{ 
    background-color: #1f1f1f; 
    color: #f1eded; 
    button{
        color: white;
    }
}

.modalDark{
    background-color: rgba(0,0,0,0.5);
    color: #f1eded;
    div{
        background-color: #2f2f2f;
        border-radius: 8px;
        div{
            border: none;
        }
    }
}



.cardDark div{
    background-color: #2f2f2f;
    color: #f1eded;
    border: none;
}


.cardDarkText div textarea{

    background-color: #2f2f2f;
    color: #f1eded;
    border: solid 1px #3f3f3f;
}




/* SIDEBAR */

:root {
    --header-height: 2.5rem;
    --nav-width: 68px;
    --first-color-light: #00c853;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: var(--z-fixed);
    transition: .5s;
    background-color: #66ffa6;
}

.headerColor{
    background-color: #00e676;
}

 #header-toggle {
    margin-left: 12%;
    cursor: pointer;
    font-size: 1.5em;
    padding: 5px;
} 
#header-toggle:hover{
    background-color: rgb(206, 206, 206);
    border-radius:1000% ;
    opacity: 80%;
}


.l-navbar {
    border-right: solid 2px rgb(241, 241, 241);
    box-shadow: 0px 4px 1px rgb(241, 241, 241) ;
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}


@media screen and (min-width: 375px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
        height: 100%;
    }
    
    .l-navbar.show{
        width:calc(var(--nav-width) + 156px);
        
    }
    .show.fade.modal{
       width:100%
   }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
    #form-note{
        min-width: 700px;
    }
    #form-note-2{
        min-width: 700px;
    }
}

.hiddenUpdate{
    display: none;
}

@media screen and (max-width: 800px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
        height: 100%;
    }
    
    .l-navbar.show{
        width:calc(var(--nav-width) + 156px);
        
    }
    .show.fade.modal{
       width:100%
   }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
    #form-note{
        min-width: 700px;
    }
    #form-note-2{
        min-width: 700px;
    }
}

@media screen and (max-width:800px){
   
    #header{
        width: 100%;
    }
    #form-note{
        margin-top: 15%;
        width: 100%;
        font-size: 2em;
    }
    #form-note-2{
        width: 100%;
        font-size: 2em;
    }
    #form-note-4{
        width: 100%;
        font-size: 2em;
    }
    
}
